body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
}

img {
  margin: 0px;
  padding: 0px;
}

html {
  padding: 0px;
  margin: 0px;
}

input {
  margin: 0px;
  padding: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input:focus,
input.focus {
  border: solid 5px #969696;
}
